.home-page-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  display: block;
  background: rgb(59,154,159); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(59,154,159,1) 20%, rgba(43,217,211,1) 62%, rgba(126,232,225,1) 82%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(59,154,159,1) 20%,rgba(43,217,211,1) 62%,rgba(126,232,225,1) 82%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(59,154,159,1) 20%,rgba(43,217,211,1) 62%,rgba(126,232,225,1) 82%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b9a9f', endColorstr='#7ee8e1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.home-header-container{
  color: white;
  margin: 65px 0 0 20px;
  display: block;
  position: relative;
  text-shadow: 0 2px 3px #555;
}
